[Unit]
Description=Kyth power arbiter (debounced EPP)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kyth-power-arbiter
RemainAfterExit=no
