[Unit]
Description=Rclone mount for %i (Kyth Cloud)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount %i: %h/Cloud/%i --vfs-cache-mode writes
Restart=on-failure

[Install]
WantedBy=default.target
